.price-card {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.2s;
}

.price-card:hover {
  transform: scale(1.03);
}

.price-card:active {
  background-color: var(--card);
}